@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@title</title>

    <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/d3app.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    @content

	<!-- 
	web jars change application.conf to get minified version, min is true by default
	assets.checkForMinified=true
	-->
	<script src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
	<script src="@routes.Assets.versioned("lib/d3js/d3.js")"></script>
	
	<!-- other jars -->
    <script src="@routes.Assets.versioned("javascripts/jquery.hotkeys.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.history.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/URI.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.URI.min.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/d3app.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/graph.js")"></script>

  </body>
</html>